body {
	background-color: rgb(204, 204, 255);
	font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
	color: blue;
	font-size: 14px;
}

p.logged {
	/* color: blue;
	font-size: 14px; */
	/* font-size: 2vmin; */
	position: fixed;
	right: 0;
	padding: 5px 10px;
}

.container {
	display:flex;
}

p.comment {
	color: black;
	background-color: rgb(221, 221, 221);
	font-size: 14px;
	/* font-weight: bold; */
	font-family: "papyrus", fantasy;
	/* font-size: 2vmin; */
	margin-left: 10px;
	padding: 5px 5px;
	width: 320px;
}

.timestamp {
    font-weight: bolder;
	color: red;
}

/* The pagination container div: */
#pagination {
	position:relative;
	margin:40px 0;
}

/* The class to hide the navigation if only one page: */
.display-none {
	display:none;
}
	
/* The navigation container: */
#pageNav {
	position:relative;
	margin:30px 0;
}
	
/* The navigation buttons: */
#pageNav button {
	background:#333;
	color:#fff;
	padding:8px 12px;
	margin:5px 5px 5px 0;
	border:0;
	font-size:1em;
	cursor:pointer;
	text-decoration:none;
}
	
/* The active class to style the current page button: */
.active {
	text-decoration:underline!important;
}

/* The gallery container div: */
#gallery {
	position:relative;
	margin:40px 0;
}

/* The image container class: */
.img-container {
	width:31.33%;
	padding:1%;
	float:left;
	left:0;
}

/* The image container inner container: */
.img {
	height :0;
	padding:0;
	padding-bottom:100%;
	overflow:hidden;
}

/* The image itself: */
.img img {
	width:195%;
	height:auto;
	transform:translate(-25%,-7%);
	-moz-transform:translate(-25%,-7%);
	-webkit-transform:translate(-25%,-7%);
	-ms-transform:translate(-25%,-7%);
}

.clearfix {
	clear:both;
}

/* MEDIA QUERIES */

/* One column */
@media only screen and (max-width: 360px) {
	.img-container {
		width:98%;
		padding:2% 1%;
	}
}
	
/* Two columns */
@media only screen and (min-width: 360px) and (max-width: 900px) {
	.img-container {
		width:48%;
		padding:1%;
	}
}

#hidden {
	margin-bottom: 65px;
}

/* #likebutton,#unlikebutton {
	margin-top: 10px;
	margin-bottom: 10px;
} */

button,input {
	margin-top: 5px;
	margin-bottom: 10px;
}

nav {
	margin-bottom: 10px;
}

img.enlarge:hover {
    transform: scale(3.0);
	transform-origin: 0 0;
	transition: transform 0.25s ease;
}

label {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 15px;
}

textarea {
	resize: none;
	width: 280px;
	height: 100px;
	font-family: Courier New;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: rgba(137, 247, 247, 0.966);
	font-size: smaller;
	color: rgb(112, 112, 112);
	margin-top: auto;
}

.info {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 14px;
	font-style: italic;
	color: grey;
	padding-left: 10;
}

.err {
	color: red;
	font-size: 14px;
	padding: 2px;
}
