body {
	background-color: rgb(204, 204, 255);
	font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
	color: blue;
	font-size: 14px;
}

label {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 15px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: rgba(137, 247, 247, 0.966);
	font-size: smaller;
	color: rgb(112, 112, 112);
}

.info {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 14px;
	font-style: italic;
	color: grey;
	padding-left: 10;
}

.err {
	color: red;
	font-size: 14px;
	padding: 2px;
}

.statusmsg {
    font-size: 14px; /* Set message font size  */
	padding: 10px 50px 10px 5px; /* Some padding to make some more space for our text  */
    background: #EDEDED; /* Add a background color to our status message   */
    border: 1px solid #DFDFDF; /* Add a border arround our status message   */
}
