body {
	background-color: rgb(204, 204, 255);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1.5vmin;
}

label {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 1.5vmin;
}

h3 {
	font-size: 2.5vmin;
}

label.logged {
	font-weight: bold;
	/* position: fixed; */
	margin-left: 75vmin;
	padding: 0.5vmin 1vmin;
	position: absolute;
	right: 0;
}

.container-fluid {
	/* display:flex; */
	flex-direction: row;
}

.row {
	width: 100%;
}

p.comment {
	color: black;
	background-color: rgb(221, 221, 221);
	font-size: 1.5vmin;
	font-family: "papyrus", fantasy;
	margin-left: 10vmin;
	padding: 0.5vmin 0.5vmin;
	width: 34vmin;
	overflow: hidden;
	text-overflow: ellipsis;
}

.timestamp {
    font-weight: bolder;
	color: red;
}

#thumbnailImage {
	width:34vmin;
	height:25.5vmin;
}

#likebutton,#unlikebutton,#commentbutton,#msg_submit {
	font-size: 1.5vmin;
	padding:0.4vmin 1vmin;
}


/* The pagination container div: */
#pagination {
	position:relative;
	margin:40vmin 0;
}

/* The class to hide the navigation if only one page: */
.display-none {
	display:none;
}
	
/* The navigation container: */
#pageNav {
	position:relative;
	margin: 0 0 3vmin 1vmin;
}
	
/* The navigation buttons: */
#pageNav button {
	background:#333;
	color:#fff;
	padding:0.2vmin 0.7vmin;
	margin:0.5vmin 0.5vmin 0.5vmin 0;
	border:0;
	font-family: sans-serif;
	font-size:1.5vmin;
	cursor:pointer;
	text-decoration:none;
}
	
/* The active class to style the current page button: */
.active {
	text-decoration:underline!important;
}

/* The image container class: */
.img-container {
	width:31.33%;
	padding:1%;
	float:left;
	left:0;
}

/* The image container inner container: */
.img {
	height :0;
	padding:0;
	padding-bottom:100%;
	overflow:hidden;
}

/* The image itself: */
.img img {
	width:195%;
	height:auto;
	transform:translate(-25%,-7%);
	-moz-transform:translate(-25%,-7%);
	-webkit-transform:translate(-25%,-7%);
	-ms-transform:translate(-25%,-7%);
}

/* MEDIA QUERIES */

/* One column */
@media only screen and (max-width: 360px) {
	div.row {
		width:98%;
		padding:2% 1%;
	}
}

/* Two columns */
@media only screen and (min-width: 360px) and (max-width: 900px) {
	/* .img-container { */
	div.row {
		width:48%;
		padding:1%;
	}
}

#hidden {
	margin-bottom: 65vmin;
}

button,input {
	margin-top: 0.5vmin;
	margin-bottom: 1vmin;
}

button.hidden {
	visibility: hidden;
}

nav {
	margin-bottom: 1vmin;
	width: 100%;
}

img.enlarge:hover {
    transform: scale(3.0);
	transform-origin: 0 0;
	transition: transform 0.25s ease;
}

textarea {
	resize: none;
	width: 34vmin;
	height: 10vmin;
	font-family: Courier New;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 1vmin;
	background-color: rgba(137, 247, 247, 0.966);
	font-size: smaller;
	color: rgb(112, 112, 112);
	margin-top: auto;
}

.info {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 1.5vmin;
	font-style: italic;
	color: grey;
	padding-left: 10;
}

.err {
	color: red;
	font-size: 1.5vmin;
	padding: 1.5vmin;
}

.msg {
	color: rgb(15, 141, 15);
	font-size: 1.5vmin;
	margin-bottom: 0;
}
