#video {
	border: 0.1vmin solid black;
	box-shadow: 2vmin 2vmin 3vmin black;
	/* width:320vmin;
	height:240vmin; */
	width:34vmin;
	height:25.5vmin;
}
  
#photo {
	border: 0.1vmin solid black;
	box-shadow: 2vmin 2vmin 3vmin black;
	/* width:320vmin;
	height:240vmin; */
	width:34vmin;
	height:25.5vmin;
}

#canvas {
	display:none;
}

.camera {
	/* width: 340vmin; */
	width:34vmin;
	display:inline-block;
	margin-right: 5vmin;
}
  
.output {
	width: 34vmin;
	display:inline-block;
}

.addon {
	width: 10vmin;
	display:inline-block;
}

#startbutton {
	display:block;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	bottom:1vmin;
	background-color: rgba(0, 150, 0, 0.5);
	border: 0.1vmin solid rgba(255, 255, 255, 0.7);
	box-shadow: 0vmin 0vmin 1vmin 2vmin rgba(0, 0, 0, 0.2);
	font-size: 1.5vmin;
	font-family: "Lucida Grande", "Arial", sans-serif;
	color: rgba(255, 255, 255, 1.0);
}

#submitbutton {
	font-size: 1.5vmin;
	padding:0.4vmin 1vmin;
}

.delete {
	font-size: 1.5vmin;
	padding:0.4vmin 1vmin;
}
  
.contentarea {
	font-size: 16vmin;
	font-family: "Lucida Grande", "Arial", sans-serif;
	width: 760vmin;
}

.img-thumbnail-small {
	/* width: 160vmin;
	height: 120vmin; */
	width:17vmin;
	height:13vmin;
}
